.vlp-body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #F5DBBC;
  height: 100%;
  min-height: 100vh;
}


.vlp-header {
  background-color: #73486C;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.vlp-link {
  color: #61dafb;
}
