.vlp-navbar-dropdown {
    ul {
        flex-direction: column;
    }
    li {
        padding: 0;
        margin: 0;
        text-align: left;
    }

}

.dropdown-menu {
    background-color: #73486C !important;
}